<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Перенаправляем все запросы, не соответствующие существующим файлам и папкам,
    # на index.php, где Laravel будет обрабатывать запросы
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
