// COLOR SCHEME
$black: #191c2b;
$dark: #363636;
$yellow: #ffc673;
$yellow-dirt: #f6bf6f;
$yellow-dark: #c09557;
$light: #efedf0;
$gray-500: #f5f5f5;
$gray-600: #8d8a8a;
$blue: #4778f1;
$green: #216653;
$red: #db3939;
$gray-550: #abaeb4;
$salad: #b9ed85;

